{% extends "base.html" %}

{% block title %}
  {{ object.title }}
{% endblock %}

{% block study %}
  {% with subject=object.subject %}
    <h1>
      {{ object.surname }} {{ object.name }}
    </h1>
    <div class="case">
      <h2>Overview</h2>
      <p>
        <a href="{% url "patient_list_subject" subject.slug %}">
        {{ subject.title }}</a>.
        {{ object.cases.count }} cases.
        Created by: {{ object.owner }}
      </p>
      {{ object.overview|linebreaks }}
    </div>
    <div class="contents">
    <h3>Cases</h3>
    <ul id="cases">
      {% for m in object.cases.all %}
        <li data-id="{{ m.id }}" {% if m == case %}class="selected"{% endif %}>
          <a>
            {{ m.title }} ({{ m.slug }})
          </a>
        </li>
        <b> Predictions: </b> {{ m.predictions }} <br>
        <b> Number of nodules: </b> {{ m.number_nods }} <br>
        <b> Annotations: </b> {{ m.annotations }} <br>
        <b> Created on: </b> {{ m.created }} <br>
        {{ m.item.render }} <br>
        <br>
      {% empty %}
        <li>No modules yet.</li>
      {% endfor %}
    </ul>
  {% endwith %}
{% endblock %}
